<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="">ANGULAR FORMS</a>
  </div>

  <ul class="nav navbar-nav">
    <li routerLinkActive="active" class="nav-item active">
      <a routerLink="/templateForm" class="nav-link">Form - Template Driven</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/dataForm" class="nav-link">Form - Data Driven</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
